<div id="welcome">
    <div class="bigBrand">WELCOME TO</div>
    <div class="bigBrand title">MUSIC BLOG</div>
    <div class="littleBrand">Share your favorite songs here.</div>
    <div class="littleBrand"></div>
</div>

<style>

    body{
        background: url("/images/util/jazz2-broad.jpg") no-repeat;
        background-size:cover;
    }

    #welcome{
        color:white;
        margin-top:33vh;
        margin-left:7vw;
        font-size:10vh;
        position:relative;
    }

    .bigBrand{
        margin-top:50px;
        font-weight: bolder;
        text-shadow: 3px 3px 10px rgb(150, 107, 205);
    }

    .littleBrand{
        margin-top:40px;
        /*color: #a57dd3;*/
        /*color:rgba(186, 73, 75, 0.98);*/
        color: rgb(150, 107, 205);
        /*text-shadow: 1px 1px 2px rgba(255, 183, 114, 0.58);*/
        font-size:30px;
    }

</style>