<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Music - Microblog</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap-responsive.css' />
    <link rel="stylesheet" href="/stylesheets/layout.css"/>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>

<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a id="headTitle" class="brand title" ><i id="titleLogo">123</i>MusicBlog</a>
            <div class="nav-collapse ">
                <ul id="data-navbar" class="nav pull-right">
                    <!--<li class="active"><a href="/">Home</a></li>-->
                    <% if (!user) { %>
                    <li><a href="/login"><span class="log">Login</span></a></li>
                    <li><a href="/register"><button id="regBtn">Register</button></a></li>
                    <% } else { %>
                    <form class="form-search pull-left">
                        <input type="text" class="input-medium search-query">
                        <button type="submit" class="btn" id="searchBtn">Search</button>
                    </form>

                    <li id="username"><a></a></li>
                    <li><a href="/logout"><span class="log">Logout</span></a></li>
                    <% } %>
                </ul>
            </div>

        </div>
    </div>
</div>


<div id="container" class="container">
    <% if (success) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
    <% } %>
    <% if (error) { %>
    <div class="alert alert-error">
        <%= error %>
    </div>
    <% } %>
    <%- body %>
    <!--<footer>-->
        <!--<p><a href="http://https://github.com" target="_blank">7D24H</a> 2018</p>-->
    <!--</footer>-->
</div>


<script src="/javascripts/util.js"></script>
<script>
    window.onload=function(){
        document.getElementById("username").innerHTML=getCookie("user");
    }
</script>

</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>
