<!--<!DOCTYPE html>-->
<!--<html lang="zh-cn">-->
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1">-->
    <!--<title>图片上传</title>-->
    <link rel="stylesheet" href="/stylesheets/multiplePics.css">
    <!--<link rel="stylesheet" href="../stylesheets/main.css">-->
    <!--<script src="../scripts/cropper.js"></script>-->

</head>
<body>

<button id="back" onclick="window.location.href='/choice'">Back</button>

<button class="funBtn" id="saveBtn" type="submit" onclick="">
    <a href="/writeForm"></a>Save</button>

<header>Pictures Stitching</header>
<section id="showPlace">
    <section id="upload"></section>
    <canvas id="myCanvas" width="400px" height="1000px"></canvas>
</section>

<script src="/javascripts/multiplePics.js"></script>
</body>
<!--</html>-->


