
<link rel="stylesheet" href="stylesheets/showBoard.css">

<section id="nextBackground">

  <section id = "showBoard">

    <div class="musicType">HONG KONG </div>
    <section class="typeBoard">
      <section class = "showCase">
      <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
      <div class="textPlace">
        <span class="songName">油尖旺金毛玲</span>
        <span class="singer">Serrini</span>
        <div class="lyric">
          油尖旺金毛玲  最怕有閃電</br>
          想起舊愛Ming仔還過電</br>
          但不夠詞彙在記憶裏面</br>
          只知到大概不想講再見
        </div>
      </div>
    </section>

      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/mla.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">爷就是一名辞职捻</span>
          <span class="longName">my little airport</span>
          <div class="lyric">
            爷就是这么一名负心捻</br>
            算你不幸如果你行太近</br>
            爷爱当女人是飘过的尘</br>
            谁会对微尘伤心
          </div>
        </div>
      </section>

      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/新青年.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">连麦记都执笠</span>
          <span class="singer">新青年理发厅</span>
          <div class="lyric">
            明明日日好多人幫襯 明明排隊等到你炆</br>
            明明總有間喺你附近 明明凌晨有好多人瞓</br>
            明明都算是流行　明明K歌作陪襯</br>
            明明幾多故事於這裡發生</br>
          </div>
        </div>
      </section>



  </section>

    <div class="musicType">HONG KONG </div>
    <section class="typeBoard">
      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>

      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>

      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>



    </section>

    <div class="musicType">HONG KONG </div>
    <section class="typeBoard">
      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>

      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>

      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>



    </section>

  </section>

  <section id="bottom">
    <span id="logo">© 2018 7D24H</span>
  </section>

</section>
