<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>showBoard</title>
  <link rel="stylesheet" href="stylesheets/showBoard.css">
</head>
<body>
<!--<div><%= username %></div>-->
<section id="nextBackground">

  <section id = "showBoard">

    <div class="musicType">HONG KONG </div>
    <section class="typeBoard">
      <section class = "showCase">
      <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
      <div class="textPlace">
        <span class="songName">油尖旺金毛玲</span>
        <span class="singer">Serrini</span>
        <div class="lyric">
          油尖旺金毛玲  最怕有閃電</br>
          想起舊愛Ming仔還過電</br>
          但不夠詞彙在記憶裏面</br>
          只知到大概不想講再見
        </div>
      </div>
    </section>

      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>

      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>



  </section>

    <div class="musicType">HONG KONG </div>
    <section class="typeBoard">
      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>

      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>

      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>



    </section>

    <div class="musicType">HONG KONG </div>
    <section class="typeBoard">
      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>

      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>

      <section class = "showCase">
        <div class="picPlace"><img data-image-role="target" src="images/Serrini.jpg"  alt="2.jpg" /></div>
        <div class="textPlace">
          <span class="songName">油尖旺金毛玲</span>
          <span class="singer">Serrini</span>
          <div class="lyric">
            油尖旺金毛玲  最怕有閃電</br>
            想起舊愛Ming仔還過電</br>
            但不夠詞彙在記憶裏面</br>
            只知到大概不想講再見
          </div>
        </div>
      </section>



    </section>

</section>

<section id="bottom">
  <span id="logo">© 2018 7D24H</span>
</section>

</body>
</html>