<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>SinglePic</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/singlePic.css">

    <link rel="stylesheet" href="/stylesheets/cropper.css">


</head>

<body>

    <button id="back" onclick="window.location.href='/showBoard'">Back</button>

    <div id="img-container" >
        <div class="img-up-add  img-item"> <span class="img-add-icon">Select your local picture</span> </div>
        <!--//这层是真正加载本地图片的-->
        <input type="file" name="files" id="img-file-input" onchange="imgPreview(this)">
    </div>

<br>
<button class="funBtn" id="edit" type="submit">Edit</button>
<div id="btnBar">

    <button class="funBtn" id="saveBtn" type="submit" onclick=""><a href="/writeForm"></a></button>
    <br>
    <br>
    <button class="funBtn" id="rotateRight" type="submit"></button>
    <br>
    <button class="funBtn" id="rotateLeft" type="submit"></button>
    <br>
    <button class="funBtn" id="oneToOne" type="submit">1:1</button>
    <br>
    <button class="funBtn" id="twoToThree" type="submit">2:3</button>
    <br>
    <button class="funBtn" id="threeToFour" type="submit">3:4</button>
    <br>
    <button class="funBtn" id="nineToSixteen" type="submit">9:16</button>
    <br>
    <button class="funBtn" id="free" type="submit">free</button>
</div>

<br>

<form id="picShow" class="showPic" method="post" enctype="multipart/form-data">
    <section id="border">
        <!--<canvas id="canvasImg">-->
            <img id="image" />
        <!--</canvas>-->
    </section>
    <section class="small"></section>
</form>



<!--<h3>Result</h3>-->

<!--&lt;!&ndash;<div id="result"></div>&ndash;&gt;-->
<!--<img id="result" src="">-->


<script src="/javascripts/cropper.js"></script>
<script  src="/javascripts/singlePic.js" charset="UTF-8"></script>
</body>
</html>