<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    <link rel="stylesheet" href="/stylesheets/upload.css">
</head>
<body>
<section id="nextBackground">
    <button id="back" onclick="window.location.href='/showBoard'">Back</button>
    <section id="select">

        <button id="single" type="submit" data-single-button="singleBtn"
                onclick="window.location.href='/edit'">
            Single Picture
        </button>


        <button id="multiple" type="submit" data-multiple-button="multipleBtn"
                onclick="window.location.href='/stitch'">
            Multiple Pictures
        </button>




    </section>


</section>

<script src="../scripts/upload.js" charset="UTF-8"></script>
</body>
</html>