
body{
    /*background-image: url("../images/background.jpg");*/
}

#nextBackground{
    background-color: rgba(149, 133, 156, 0.91);
    /*margin:-30px -10px -100px -10px;*/
    padding-bottom: 50px;
    background-size: cover;

}

button:hover{
    background-color: rgba(67, 67, 67, 0.71);
}

#uploadBtn{
    /*position:absolute;*/
    float:right;
    margin-top:20px;
    margin-right:20px;
    height:40px;
    width:100px;
    background-color: rgba(50, 205, 50, 0.83);
    border-radius: 5px;
    color:white;
    font-size:large;
    border:solid 0;
}

#uploadBtn:hover{
    background-color: rgba(44, 176, 44, 0.95);
    border:solid 1px rgba(255, 255, 255, 0.65);
}

#showBoard{
    margin-top:0px;
    display:inline-block;
}

.typeBoard{
    display:flex;
}

.showCase{
    background-color:white;
    width:28%;
    height: 420px;
    border:0.5px solid rgba(6, 6, 6, 0.3);
    float:left;
    margin-top:30px;
    margin-left:40px;
    margin-bottom:20px;
    border-radius:  0 0 20px 20px ;

}

.musicType{
    color:white;
    font-style: italic;
    font-weight: bolder;
    font-size:40px;
    /*font-family: "Segoe Script";*/
    margin-left:30px;
}

.lyric{
    padding-left:6px;
    padding-top:12px;
    padding-bottom:9px;
    padding-right:6px;
    color:darkgray;
    font-size: small;
    font-family: "Segoe Script";
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;/*显示行数*/
}

img{
    border:15px rgba(255, 149, 63, 0.05) solid;
    max-width: 90%;
    max-height:300px;
    position:center;
    display:block;
    margin: auto;
    /*max-height: 350px;*/
    /*border-color: black;*/
}

.showPic{
    position:center;
    margin: auto;
}

.textPlace{
    padding:1px 10px 1px 10px;
}

.songName{
    font-size: large;
    padding-left:6px;
}

.singer{
    float: right;
    font-size: medium;
    color:darkgray;
}

.tagArr{
    margin-top:5px;
    margin-left:5px;
    color: #9a40ff;
}


.longName{
    float: right;
    font-size: small;
    color:darkgray;
    padding-top:5px;
}

#bottom{
    height:120px;
    width:101%;
    background-color: #000000;
    margin-top:100px;
    margin-left:-20px;
    margin-right:-200px;
    position:absolute;
}

#logo{
    color: rgba(255, 255, 255, 0.73);
    margin-left:46%;
    margin-top:50px;
    position:absolute;
}